.App {
  background: #F7F7F7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader-center {
  position: absolute;
  top: 50%;
}

.App-link {
  color: #61dafb;
}

.text-align-center {
  text-align: center;
  top: 50%;
  line-height: 95px !important;
}
.left-margin-25 {
  margin: 10px 0 0 25px;
}

.text-color-white {
  color: white;
}

.board {
  min-width: 275px;
  margin: 25px;
  min-height: 135px;
  float: left;
  cursor: pointer;
}

.float-right {
  float: right;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.app-menu-button {
  margin-top: -18px;
  height: 35px;
  display: inline-block;
}

.labelId { 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 8px 16px;
  margin: 10px;
  display: 'inline-block';
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}


::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0,0,0,0.3);
  border-radius: 100px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 16px;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  border-radius: 100px;
}
