.issue-card {
  margin: 8px;
  position: relative;
}

.issue-card .issue-title {
  word-break: break-all;
}

.issue-card .actions {
  margin-top: 8px;
}

.issue-content {
  display: flex;
  justify-content: space-between;
}

.draggable-container {
  cursor: pointer !important;
}
